.card {
    box-shadow: 4px;
    height: 200px;
    width: 100px;
    background-color: #555;
}

.card:hover {
    background-color: #a19f48;
}

.spade {
    position: relative;
    top: 10px;
    right: 35px;
    transform: scale(.2);
}

.spade1 {
    position: absolute;
    left: 20px;

    background-color: black;
    width: 75px;
    height: 50px;
    rotate: -135deg;
    border-radius: 50px 0 0 50px;
}

.spade2 {
    position: absolute;
    left: 0px;

    background-color: black;
    width: 75px;
    height: 50px;
    rotate: -45deg;
    border-radius: 50px 0 0 50px;
}

.spade3 {
    position: absolute;
    left: 27px;
    top: 20px;

    width: 0px;
    height: 0px;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 60px solid black;
}









.heart {
    position: relative;
    top: 10px;
    right: 35px;
    transform: scale(.2);
}

.heart1 {
    position: absolute;
    left: 20px;

    background-color: red;
    width: 75px;
    height: 50px;
    rotate: 135deg;
    border-radius: 50px 0 0 50px;
}

.heart2 {
    position: absolute;
    left: 0px;

    background-color: red;
    width: 75px;
    height: 50px;
    rotate: 45deg;
    border-radius: 50px 0 0 50px;
}


.diamond {
    position: relative;
    top: 10px;
    right: 42px;
    transform: scale(.2);
}

.diamond1 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-bottom: 50px solid red;
}

.diamond2 {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    border-top: 50px solid red;
    top: 50px;
}


.club {
    position: relative;
    top: 12px;
    right: 35px;
    transform: scale(.2);
}

.club1 {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.club2 {
    position: absolute;
    right: 25px;
    bottom: -15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.club3 {
    position: absolute;
    right: 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: black;
}

.club4 {
    position: absolute;
    width: 0;
    height: 0;
    right: 35px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 75px solid black;
}